swagger: '2.0'
info:
  description: call queue integration api
  version: 1.0.0
  title: CallQueueIntegration
  # put the contact info for your development or API team
  contact:
    email: geir.sjurseth@ebuilder.com

# all paths will be relative to the basePath specified
# basePath: /callqueue

# tags are used for organizing operations
tags:
- name: queue
  description: related to call queue integrations for customers
- name: support
  description: related to support queues
- name: callqueue
  description: related to call queue integrations for customers
schemes:
- https
paths:
  /telia/v1/callback:
    post:
      summary: request call back from the support
      description: |
        simple GET -> retrieve call queue lengths
      parameters:
      - name: phoneno
        in: query
        description: Phone number that requests callback
        required: true
        type: string
      - name: userId
        in: query
        description: Id of User requesting callback
        required: true
        type: string
      - name: deviceId
        in: query
        description: user's device ID -> IMEI number for android
        required: true
        type: string
      - name: comment
        in: query
        description: any additional, free text, data to send to provider
        required: false
        type: string
      produces:
      - application/json
      responses:
        200:
          description: successful response
          schema:
              $ref: '#/definitions/CallBack'
        500:
          description: Any error
      security:
      - api_key: []
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
        uri: arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/@lambda:telia-request-callback@/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,x-guid'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        passthroughBehavior: "when_no_match"
        type: "mock"
  /telia/v1/queue:
    get:
      summary: retrieves length of call queue for telia
      description: |
        simple GET -> retrieve call queue lengths
      produces:
      - application/json
      responses:
        200:
          description: successful response
          schema:
              $ref: '#/definitions/QueueLength'
        500:
          description: Any error
      security:
      - api_key: []
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
        uri: arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/@lambda:telia-get-queue-time@/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,x-guid'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        passthroughBehavior: "when_no_match"
        type: "mock"
  /effortless/v1/queue:
    get:
      summary: retrieves length of call queue for effortless
      description: |
        simple GET -> retrieve call queue lengths
      produces:
      - application/json
      parameters:
      - name: foo
        in: query
        required: false
        type: string
      responses:
        200:
          description: successful response
          schema:
              $ref: '#/definitions/QueueLength'
        500:
          description: Any error
      security:
      - api_key: []
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
        uri: arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/@lambda:effortless-get-queue-time@/invocations
        passthroughBehavior: when_no_match
        httpMethod: POST
        type: aws_proxy
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,x-guid'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        passthroughBehavior: "when_no_match"
        type: "mock"
securityDefinitions:
  api_key:
    type: apiKey
    name: x-api-key
    in: header
definitions:
  QueueLength:
    type: object
    required:
    - queueLength
    - waitingTime
    properties:
      queueLength:
        type: string
      waitingTime:
        type: string
  CallBack:
    type: object
    required:
    - returnCode
    - returnMessage
    properties:
      returnCode:
        type: string
      returnMessage:
        type: string
# Added by API Auto Mocking Plugin
host: apigw.ebuilder.io
basePath: /callqueue
